.gradient__button>button {
    padding: 10px;
    outline: none;
    border: none;
    /* background-image: url(https://assets.website-files.com/5fa9a68799d2454eeced93d7/5fab12e69d1d818a79203947_SqsFmi8lZMtI.gif);
    background-clip: text;
    -webkit-background-clip: text; */
    color: rgba(0, 0, 0, .2);

    background-color: black;
    color: white;
    border: 1px solid grey;
    border-radius: 5px;
    font-weight: 700;
    transition: 300ms all ease-in-out;
}

.centered {
    display: flex;
    justify-content: center;
}

.gradient__button>button:hover {
    background: url(https://assets.website-files.com/5fa9a68799d2454eeced93d7/5fab12e69d1d818a79203947_SqsFmi8lZMtI.gif);
    color: black;
    cursor: pointer;
    transform: scale(1.06);

}