.input__field {
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}

.input__field>input {
    outline: none;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: transparent;
    width: max(20vw, 80px);



}

.disabled {
    border: 1px solid rgb(37, 188, 211);
    color: white;

}

.input__field>input:active,
.input__field>input:focus {
    border: 1px solid rgb(56, 182, 56);

}