.navbar {
    display: flex;
    position: sticky;
    top: 0;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

}

.navbar__left {
    display: flex;
    align-items: center;
    flex: 0.4;
    padding-left: 5vw;

}

.navbar__left img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    transition: 300ms all ease-in-out;
}

.navbar__left div {
    display: block;
    line-height: 10px;
    transition: 300ms all ease-in-out;

}


.navbar__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 0px 0px rgb(21, 20, 20);



}

.navbar__center>p {

    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 300ms all ease-in-out;
    margin-left: 20px;
    transform: scale(1.0);
    color: rgb(234, 234, 234);
    font-size: 14px;



}

.navbar__center>p:hover,
.navbar__left>img:hover,
.navbar__left>div:hover {
    transform: scale(1.04);
    cursor: pointer;

}


.navbar__center img {
    width: 15px;
    height: 15px;
    margin-top: 4px;
    object-fit: contain;
    background-color: rgb(130, 130, 130);
    border-radius: 50%;

    margin-left: 3px;

}

.navbar__right {
    display: flex;
    flex: 0.4;
}

.highlight {
    margin-top: 20px;
    padding: 4px;
    color: white;
    background-color: rgb(16, 15, 15);
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'DM Sans', sans-serif;
}

@media only screen and (max-width:800px) {

    .navbar__center,
    .navbar__right {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: center;
    }
}