.main {
  padding: 5px;
  border: 1px solid aqua;
  border-radius: 10px;
  height: fit-content;
  width:max-content;
  color:black;
  background-color: aqua;
  font-size: 12px;
  font-weight: 700;

}
.main button{
    outline: none;
    border:none;
    color:black;
    background: transparent;
    width: max-content;
    
}
