.view {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 12vh;
    height: 100vh;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

.view__banner {
    border: 1px solid grey;
    border-radius: 10px;
}

.profile__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;


}

.profile__head>.profile__picture {
    border: 1px solid grey;
    border-radius: 50%;
}

.profile__head>.profile__picture>img {
    width: 100px;
    height: 100px;
    object-fit: contain;



}

.view__banner>img {
    width: 45vw;
    height: 20vw;
    object-fit: contain;

}

.view .view__edit>button {
    outline: none;
    border: none;
    background-color: black;
    color: white;
    padding: 10px;

}