.view {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: max(100vh,fit-content);
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    
}

.view__banner {
    border: 1px solid grey;
    border-radius: 10px;
}
.view__banner >img{
    height: 100vh;
    object-fit: contain;
}
.profile__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 10px;

}

.profile__head>.profile__picture{
    padding-left: 10px;
}

.profile__head>.profile__picture>img {
    width: 100px;
    height: 100px;

    object-fit: contain;
    border-radius: 50%;
    margin-top: -12vh;


}

.view__banner>img {
    width: 45vw;
    height: 20vw;
    object-fit: contain;

}


.profile__information{
    margin-left: 40px;
    width: 30vw;

}
.profile__name{
    text-transform: capitalize;
    font-size: 2.5em;


}
.profile__professional{
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    
}
.social__media__stats{
    display: grid;
    padding-top: 5vh;
    width: 50vw;
    gap: 5vw;
    grid-template-columns: auto auto auto;

}

@media only screen and (max-width: 1200px) {
    .profile__professional{
        display: block;
        
        }

        .social__media__stats{
            grid-template-columns: auto auto;
            gap: 5vw;
        }
}
@media only screen and (max-width: 600px) {
        .social__media__stats{
            grid-template-columns: auto ;
        }
}
